<h1 id="main-titel">מרפאה</h1>

<div class="grid-container" *ngIf="SuspectData">
  <div class="main-body">

    <h4 id="reporter-details">פרטי המפקד</h4>

<div class="grid-container">
  
    <mat-form-field>
      <input
        matInput
        placeholder="תעודת זהות"
        value="{{ SuspectData.suspect.reporterIdentityNumber }}"
      />
    </mat-form-field>
  
    <mat-form-field>
      <input
        matInput
        placeholder="שם פרטי"
        value="{{ SuspectData.suspect.reporterFirstName }}"
      />
    </mat-form-field>
  
    <mat-form-field>
      <input
        matInput
        placeholder="שם משפחה"
        value="{{ SuspectData.suspect.reporterLastName }}"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="מספר טלפון"
        value="{{ SuspectData.suspect.reporterPhoneNumber }}"
      />
    </mat-form-field>
  
    <mat-form-field>
      <input
        matInput
        placeholder="מייל"
        value="{{ SuspectData.suspect.reporterMail }}"
      />
    </mat-form-field>
  
    <mat-form-field>
      <input
        matInput
        placeholder="הערות"
        value="{{ SuspectData.suspect.reporterNotes }}"
      />
    </mat-form-field>
  

      <mat-checkbox
        class="example-margin"
        [(ngModel)]="isColoneConfinement"
        >מאשר/ת יציאה מהבידוד</mat-checkbox
      >

    </div>

    <h4 id="reporter-details">פרטי החייל</h4>
    <div class="grid-container">
    <mat-form-field>
      <input
        matInput
        placeholder="תעודת זהות"
        value="{{ SuspectData.suspect.suspectIdentityNumber }}"
      />
    </mat-form-field>
  
    <mat-form-field>
      <input
        matInput
        placeholder="שם פרטי"
        value="{{ SuspectData.suspect.suspectFirstName }}"
      />
    </mat-form-field>
  
    <mat-form-field>
      <input
        matInput
        placeholder="שם משפחה"
        value="{{ SuspectData.suspect.suspectLastName }}"
      />
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>טלפון</mat-label>
      <span matPrefix> &nbsp;</span>
      <input
        type="tel"
        matInput
        placeholder="050-111-1111"
        value="{{ SuspectData.suspect.suspectPhoneNumber }}"
      />
    </mat-form-field>
  
    <mat-form-field>
      <input
        matInput
        placeholder="זמן האיכון"
        value="{{ SuspectData.suspect.suspectTimeOfPositioning }}"
      />
    </mat-form-field>
  
    <mat-form-field>
      <input
        matInput
        placeholder="מיקום בזמן האיכון"
        value="{{ SuspectData.suspect.suspectPlaceOfPositioning }}"
      />
    </mat-form-field>
    

      <mat-checkbox
        class="example-margin"
        [(ngModel)]="SuspectData.suspect.suspectHasDeclaredInocense"
        >מצהיר שלא היה במיקום האיכון
      </mat-checkbox>

    </div>

  <h4 id="reporter-details"> נתונים</h4>

  <div class="grid-container">

    <mat-form-field>
      <input
        matInput
        placeholder="החייל שהה בבסיס בזמן האיכון"
        value="{{ ifSuspectWasInBaseDuringPas() }}"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="החייל קיבל הנחיה צבאית להיכנס לבידוד"
        value=" {{ ifSuspectWasSentToConfinement() }}"
      />
    </mat-form-field>

      <mat-checkbox class="example-margin" 
        [(ngModel)]="isClinicConfinement"
        (change)="toggle($event)"
        >אישור ליציאה מהבידוד
      </mat-checkbox>

    <mat-form-field>
      <input matInput placeholder="הערות המרפאה" value="{{SuspectData.suspect.clinicNotes}}" [(ngModel)]="clinicNotes" />
    </mat-form-field>

    <button (click)="UpdateSuspect()" mat-raised-button color="primary">שלח</button>
  
  </div>

</div>

